@import '/src/styles/variaveis';

.button {
  border: none;
  background-color: $purple;
  color: $white;
  cursor: pointer;
  height: 38px;
  width: 84px;
  :disabled{
    background-color: $darkgray;
  }
}