@import '/src/styles/variaveis';

.footer {
  display: flex;
  flex-direction: column;

  &__facilidades {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: $black;
    color: $white;
    
    &-titulo {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
    }
    &-container{
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__facilidade {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;

    &-imagem {
      width: 56px;
      height: 56px;
    }

    &-titulo {
      font-weight: 700;
      color: $yellow;
    }

    &-texto {
      color: $white;
      font-size: 0.8125rem;
    }
  }

   &__direitos {
    background-color: $black;
    color: $white;
    padding: 1rem;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__facilidades {
      &-titulo {
        font-size: 2rem;
      }
      &-container{
        margin: 0 auto;
      }
    }

    &__facilidade {
      justify-content: center;

      &-imagem {
        width: 72px;
        height: 72px;
      }
    }

    &__card {
      margin: 3rem;
      padding: 2rem;
      border: 2px solid $black;

      &-texto {
        font-size: 1.25rem;
      }

      & div {
        input {
          width: 330px;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    &__facilidades {
      padding: 3rem;
      &-titulo {
        font-size: 2rem;
      }
      &-container{
        flex-direction: row;
      }
    }


    &__facilidade {
      flex-direction: row;
      justify-content: center;

      &-imagem {
        width: 72px;
        height: 72px;
      }
    }

    &__card {
      margin: 4rem auto;
      width: 729px;
      padding: 3rem;
      border: 2px solid $black;

      &-texto {
        font-size: 1.25rem;
      }

      & div {
        input {
          width: 456px;
        }
      }
    }
  }
}